@tailwind base;
/* 전체 공통 CSS */
/* @layer base {
  body {
    @apply text-emerald-7;
  }
} */
@tailwind components;
@tailwind utilities;

.bg-primary {
  @apply bg-slate-50 duration-200 ease-in-out dark:bg-slate-800;
}

.project-card {
  @apply m-3 flex w-full transform flex-col rounded-xl
            border border-gray-300 transition duration-300 hover:text-blue-600
            hover:shadow-2xl
            lg:max-w-lg
            dark:border-gray-200/50
            dark:hover:shadow-slate-700;
}

.btn-project {
  @apply inline-flex rounded border-0 bg-blue-500 px-6 py-2 text-lg text-white hover:bg-blue-600 focus:outline-none dark:text-slate-50;
}

.self-intro-header {
  @apply mb-5 text-2xl font-medium text-gray-900;
}

.self-intro-content {
  @apply mt-3 text-lg text-slate-700 duration-200 ease-in-out dark:text-slate-400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-slate-900 duration-200 ease-in-out dark:text-slate-50;
}

footer {
  @apply bg-gray-100 text-gray-600
  duration-200 ease-in-out dark:bg-slate-600/20 dark:text-white;
}

a {
  @apply text-slate-500 duration-200 ease-in-out hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-50;
}

p {
  @apply text-slate-700 duration-200 ease-in-out dark:text-slate-400;
}

/* 테일윈드 CSS animate-pulse-custom 커스텀 */
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.animate-pulse-custom {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  background-color: rgb(226 232 240);
}

/* Spin Loading CSS */
.spin-animation {
  animation: spin 0.75s ease 1;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@layer utilities {
  /* 스크롤바 hide 기능 */
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* 스크롤바 커스텀 기능 */
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: rgba(102, 102, 102, 0.7) rgba(0, 0, 0, 0);
  }
  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: rgba(102, 102, 102, 0.7);
    border-radius: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: rgba(102, 102, 102, 1);
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
  }
}
